[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json.git
[submodule "vendor/ksignals"]
	path = vendor/ksignals
	url = https://github.com/xforce/ksignals.git
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendor/zlib"]
	path = vendor/zlib
	url = https://github.com/madler/zlib.git
[submodule "tools/gyp"]
	path = tools/gyp
	url = https://github.com/bnoordhuis/gyp.git
[submodule "vendor/httplib"]
	path = vendor/httplib
	url = https://github.com/yhirose/cpp-httplib.git
